body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h1 {
  line-height: 1.5;
  font-size: 40px;
  letter-spacing: -.2px;
  text-transform: uppercase;
  color: white;
  margin: 0;
}
.image {
  width: 500px;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure {
  margin: 0;
}
/*Header*/
.header {
  background-color: #1b2127;
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}
.menu {
  height: inherit;
}
.header ul {
   display: flex;
   height: inherit;
}
.header ul li {
  height: inherit;
}
.header a {
  color: white;
  text-decoration: none;
  list-style: none;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
/*Hero*/
.hero {
  height: 300px;
  background-image: url('../images/hero.jpg');
  background-color: #1b2127;
  background-size: 500px 300px;
  background-repeat: no-repeat;/*No se repita la imagen*/
  background-position-x: right;/*mover la imagen hacia la derecha*/
  display: flex;
  align-items: center;
}
h1 strong {
  color: #026fff;
}
.detalles-project {
  width: 500px;
  height: 200px;
}
.container-image {
  width: 500px;
}
.portfolio {
  background: #fafafa;
}
.project {
  border: 1px solid gray;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 20px;
  background: white;
}
.project-container {
  display: flex;
}
/*Footer*/
.footer {
  display: flex;
  justify-content: space-between;
  background-color: #1b2127;
  color: white;
  align-items: flex-end;
}
.content-footer {
  display: flex;
  align-items: center;
}