body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FAFAFA;
  font-family: 'Roboto', sans-serif;
}
/*Globales*/
h1 {
  font-size: 3.8vw;
  line-height: 1.5em;
  color: #ffffff;
}
h2 {
  font-size: 1.8em;
  text-transform: uppercase;
  color: #026FFF;
  margin: 50px 0;
  text-align: center;
}
@media (min-width: 768px) {
  h2 {
    text-align: left;
    padding: 30px;
  }
}
h3 {
  font-size: 1.7em;
  margin: 20px 0;
}
h6 {
  font-size: 1em;
  color: #6D6D6D;
  margin: 0;
}
img {
  width: 100%;
}
figure {
  margin: 0;
}
.container {
  margin: 10px auto;
  border: 2px solid #F2F2F2;
  padding: 30px;
  border-radius: 10px;
}
.section {
  margin: 20px auto;
  width: 90%;
  max-width: 1200px;
}
a {
  text-decoration: none
}
.button {
  padding: 10px 40px;
  border: 2px solid #0370FF;
  border-radius: 50px;
  color: #026FFF;
  font-weight: bold;
  margin-bottom: 0px;
}
.button:hover {
  background-color: #0060dd;
  cursor: pointer;
  transition: 0.1s ease all;
  color: #ffffff;
}
/*HEADER*/
header {
  background-color: #1D252C;
}
@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
header img {
  display: block;
  margin: 0 auto;
  width: auto;
}
@media (min-width: 768px) {
  header img {
    margin: 0;
  }
}
header nav ul{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding: 10px;
  margin: 0;
}
header nav ul li {
  margin-right: 80px;
}
li:last-of-type {
  margin-right: 0;
}
header nav ul li a {
  color: #ffffff;
  text-decoration: none;
}
/*HERO*/
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1D252C;
  position: relative;
}
.hero img {
  width: 50%;
}
.hero .div-uno h1 {
  padding: 0 0 0 15px;
  margin: 0;
}
.hero .div-uno h1 strong{
  color: #026FFF;
}
/*portafolio*/
@media (min-width: 768px) {
  .project-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .project-container .detalles-project{
    flex: 0 0 50%;
  }
}
.project .project-container .detalles-project small {
  color: #6D6D6D;
  font-weight: bold;
}
.project .project-container .detalles-project .project-description {
  font-weight: 700;
  margin-top: 30px;
}
/*Experiencia*/
.event {
  padding: 0;
  border-radius: 10px;
}
.event .event-content{
  width: 80%;
  margin: 0 auto;
  background-color: #ffffff;
  margin-top: -45px;
  position: relative;
  border-radius: 5px;
  padding: 20px;
}
.event .event-image {
  border-radius: 10px;
}
@media (min-width: 768px) {
  .wrapper-experiencia {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .event {
    flex-basis: 40%;
  }
}
.event-button {
  margin: 0 auto;
  display: block;
  width: 120px;
  text-align: center;
}
/*Collage*/
.collage {
  margin-bottom: 0;
  height:1000px;
}
.collage-image {
  position: absolute;
  height: inherit;
  object-fit: cover;
}
.collage-button {
  background-color: #0370FF;
  color: #ffffff;
  margin: 5.5vw;
}
.container-buttons {
  display: flex;
  justify-content: space-around;
  position: relative;
  flex-wrap: wrap;
  height: inherit;
}
/*Contact*/
.contact {
  background-color: #0370FF;
  border-radius: 0;
  margin-bottom: 0;
  border: none;
  padding: 30px
}
@media (min-width: 768px) {
  .contact {
    padding: 20px 120px;
  }
}
.content-contact {
  text-align: center;
}
@media (min-width: 768px) {
  .content-contact {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.form h2 {
  color: #ffffff;
  margin: 0 auto;
}
.form label {
  color: #ffffff;
  display: block;
}
.form input {
  margin-bottom: 20px;
  border-radius: 6px;
  padding: 10px 40px;
  border: 1px solid #ffffff;
  display: inline-block;
}
.button-form {
  background-color: #0370FF;
  color: #ffffff;
  display: block;
}
/*iconos*/
.nets {
  display: flex;
  justify-content: space-between;
  margin-top: 30px
}
@media (min-width: 768px) {
  .nets {
    width: 50%;
  }
}
.icon {
  font-size: 2em;
  color: #ffffff;
}
/*Footer*/
.footer {
  color: #ffffff;
  background-color: #1D252C;
  padding: 20px;
  text-align: center;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.footer .content-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer p {
  margin: 0;
  align-items: center;
}
.footer  img {
  width: 100px;
}
